{% extends 'layout.html' %}

{% block content %}

    <div class="mypage-main">

        {% if nicklist %}
        <div>
            {% for nick in nicklist %}
                <div>
                    {{nick}}                        
                </div>
            {% endfor %}
            님의 호/불호 결과입니다!
            *미 체크 항목은 "호"로 분류됩니다!
        </div>
        {% endif %}

        <div class="pick-text" id="mypick">호</div>
        <div class="form-myfoodSelect"> 
            <div class="food-form" id="koreanfood-form"> 
                <div class="food-info"> <div class ="food-info-text" id="koreanfood-info">[ 한식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 1 and foodSelect.userlike == 1 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="chinesefood-form"> 
                <div class="food-info"><div  class ="food-info-text" id="chinesefood-info">[ 중식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 2 and foodSelect.userlike == 1 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="japanesefood-form"> 
                <div class="food-info"> <div  class ="food-info-text" id="japanesefood-info">[ 일식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 3 and foodSelect.userlike == 1 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="westernfood-form"> 
                <div class="food-info">  <div  class ="food-info-text" id="westernfood-info">[ 양식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 4 and foodSelect.userlike == 1 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="likedislike-form">
                <div class="food-info"> <div  class ="food-info-text" id="likedislike-info">[ 호불호 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 5 and foodSelect.userlike == 1 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="pick-text" id="mypick">불호</div>
        <div class="form-myfoodSelect"> 
            <div class="food-form" id="koreanfood-form"> 
                <div class="food-info"> <div class ="food-info-text" id="koreanfood-info">[ 한식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 1 and foodSelect.userlike == 0 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="chinesefood-form"> 
                <div class="food-info"><div  class ="food-info-text" id="chinesefood-info">[ 중식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 2 and foodSelect.userlike == 0 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="japanesefood-form"> 
                <div class="food-info"> <div  class ="food-info-text" id="japanesefood-info">[ 일식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 3 and foodSelect.userlike == 0 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="westernfood-form"> 
                <div class="food-info">  <div  class ="food-info-text" id="westernfood-info">[ 양식 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 4 and foodSelect.userlike == 0 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="likedislike-form">
                <div class="food-info"> <div  class ="food-info-text" id="likedislike-info">[ 호불호 ]</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 5 and foodSelect.userlike == 0 %}
                        <div>
                            {{loop.index}}  
                            {{foodSelect.name}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

    <script>

    </script>
{% endblock %}    