{% extends 'layout.html' %}

{% block content %}
<div class="analyze">
    같이 밥 먹을 사람을 체크해주세요!
    <div class="text-div-textlist" id="analyze-comment">
        *한 명이라도 호/불호 미선택 시 결과가 올바르지 않게 나올 수 있습니다.
        *꼭 모두가 선택해주세요!!
    </div>    
    <div class="followings-check">
        {% if user.Followings %} 
            <form class='user-select-form' action='/analyze/result' method='post'> 
                {% for following in user.Followings %} 
                    <div id="followings-row">                  
                        <label class="container">
                        <input type="checkbox" value="{{following.id}}" name="followings-checkedid">
                        {{following.nick}}
                        {{"("+following.localId+")"}}
                        <span class="checkmark"></span>
                        </label>
                    </div>
                {% endfor %}        
                 <button id="submit-btn" type="submit" class="btn">분석하기</button> 
                {# <a id="followings-analyze-button" href="analyze/result" class="btn">분석하기</a> #}
                <div id='result'></div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block script %}

    <script>
            
            
        {# async function analyzeSelect() {
            const query = 'input[name="followings-checkedid"]:checked';
            const selectedEls =  document.querySelectorAll(query);
            // 선택된 목록에서 value 찾기
            let result = [];
            selectedEls.forEach((el) => {
                result.push(el.value);
            });
            // 출력
            document.getElementById('result').innerText = result;
            
            await axios.post(`/analyze/analyzeSelected`, {
                result,
            }).then((res)=> {
              if(res.data.status==="true"){
                location.reload();
            }
            }).catch(e => {
                console.log(e);
            });
            
        } #}
    </script>
{% endblock %}    