{% extends 'layout.html' %}

{% block content %}

    <div class="timeline">
        <div class="follow-half" id="following-half-text">
            <div class="follow-text" id="following-text">팔로잉</div>
            {% if user.Followings %} 
                {% for following in user.Followings %} 
                <div class="following-member-setting">
                <div id="unfollow" onClick='removeFollowing({{following.id}})' class="btn">끊기</div>
                    {{following.nick}}
                    ({{following.localId}})
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="follow-half">
            <div class="follow-text">팔로워</div>
            {% if user.Followers %} 
                {% for follower in user.Followers %} 
                    <div>
                        {{follower.nick}}
                        ({{follower.localId}})
                    </div>
                {% endfor %} 
            {% endif %} 
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>

        async function removeFollowing(followingId){
            await axios.post(`/user/unfollow`,{
                followingId,
           }).then((res)=>{
               if(res.data.status==="true"){
                   location.reload();
               }
           })
        }    

    </script>
{% endblock %}    