{% extends 'layout.html' %} 

{% block content %}
    <div class="food-form-padding">
        <div class="food-form-div">
            <div class="food-form-select-textform"><strong>{{category}}</strong>
                선택
            </div>
            
            <form id='food-form' action='/form/save' method='post'> 
                <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableCell" id="form-cell">번호</div>
                            <div class="divTableCell" id="form-cell">음식명</div>
                            <div class="divTableCell" id="form-cell">호</div>
                            <div class="divTableCell" id="form-cell">불호</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        {% for food in foodlist %} 
                            {% if food and food.id %}
                                <div class="divTableRow">
                                    <div class="divTableCell">{{loop.index}}</div>
                                    <div class="divTableCell">{{food.name}} </div>  
                                    {% if food.like == 0 %}       
                                    <div class="divTableCell">
                                        <label><input class="form-label-t" name="{{food.id}}" type="radio" value="t" >
                                        </label>
                                    </div>
                                    <div class="divTableCell">
                                        <label><input class="form-label-f" name="{{food.id}}" type="radio" value="f" checked>
                                        </label>
                                    </div>
                                    {% else %}
                                    <div class="divTableCell">
                                        <label><input class="form-label-t" name="{{food.id}}" type="radio" value="t" checked>
                                        </label>
                                    </div>
                                    <div class="divTableCell">
                                        <label><input class="form-label-f" name="{{food.id}}" type="radio" value="f">
                                        </label>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button id="submit-btn-form" type="submit" class="btn">저장</button> 
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}