{% extends 'layout.html' %} 

{% block content %}
    <div class="food-form-padding">
        <div class="food-form-div">
            <div class="food-form-select-text"><strong>{{category}}</strong>
                선택하기
            </div>
            <div class="divTable minimalistBlack">
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead">번호</div>
                        <div class="divTableHead">음식명</div>
                        <div class="divTableHead">호</div>
                        <div class="divTableHead">불호</div>
                    </div>
                </div>
                <div class="divTableBody">
                        <form id='food-form' action='/form/save' method='post'> 
                            {% for food in foodlist %} 
                                {% if food and food.id %}
                                    <div class="divTableRow">
                                        <div class="divTableCell">{{loop.index}}</div>
                                        <div class="divTableCell">{{food.name}} </div>  
                                        {% if food.like == 0 %}       
                                        <div class="divTableCell">
                                            <label><input class="form-label" name="{{food.id}}" type="radio" value="t" >호</label>
                                        </div>
                                        <div class="divTableCell">
                                            <label><input class="form-label" name="{{food.id}}" type="radio" value="f" checked>불호</label>
                                        </div>
                                        {% else %}
                                        <div class="divTableCell">
                                            <label><input class="form-label" name="{{food.id}}" type="radio" value="t" checked>호</label>
                                        </div>
                                        <div class="divTableCell">
                                            <label><input class="form-label" name="{{food.id}}" type="radio" value="f">불호</label>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <button id="submit-btn" type="submit" class="btn">저장하기</button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}