{% extends 'layout.html' %} 

{% block content %}
    우히히..index.html임
    {% if food and food.id %}
        
    <div class="koreanfood-form">한식
         {% if food.categoryname === "한식" %}
        <div>
            {{food.name}}
        </div>
        {% endif %}
    </div>
    <div class="chinesefood-form">중식
        
    </div>
    <div class="westernfood-form">양식
        
    </div>
    <div class="japanesefood-form">일식
        
    </div>
    {% endif}
{% endblock %}