{% extends 'layout.html' %}

{% block content %}


    <div class="intro">
        <div class="intro_header">
            TASTEYOM 소개
        </div>
        <div>
        안녕하세요! <strong>TASTEYOM 개발자</strong>입니다.
        </div>
        <br>
        <div>
        TASTEYOM은 <strong>자신의 취향</strong>을 더 잘 알기 위해 만들어진 사이트에요.<br>
        그리고 <strong>친구들의 취향</strong>도 같이 알 수 있게 제작했어요.<br>

        현재는 <div style="background-color:#FFAB76; display:inline;">친구들과 점심/저녁 메뉴를 고를 때, 더욱 쉽게 결정하기 위한 기능을 제공</div>하고 있어요!<br>
        </div>

        <br><br>
        <div>

        <strong>[ 사이트 이용하는 방법 ]</strong><br><br>

        1. 간단한 회원가입을 진행합니다.<br>

        2. 자신의 음식 취향을 체크합니다. 총 120가지가 있어요.<br>
       (한식 40, 중식 20, 일식 20, 양식20, 호불호 20) <br>

        3. 친구의 아이디를 팔로우합니다.<br>

        4. *친구야 밥먹자(알아보기)* 버튼을 클릭해 같이 밥을 먹을 친구를 체크합니다.<br>

        5. 둘 다 "호"로 일치하는 음식을 확인합니다.<br>

        5. 서로가 좋아하는 음식을 맛있게 먹으러 가시면 됩니다!!!<br>

        </div>
        <br><br>
        <div>

        <strong>[ 만들게 된 배경 ]</strong><br><br>

        개발자가 "체다치즈"를 무진장 싫어해요.. <br>
        그런데!! 사람들이 너무 좋아하는 음식이라, 밥을 먹으러 갈 때 <br>
        서로 눈치를 보는 저와 친구들을 발견했어요..<br>

        그리고 메뉴를 정할때, 내가 싫어하는 메뉴가 뭐다! 라고 계속해서 말해야하는게 불편했죠!<br>

       <br><br>
        <strong>".. 이걸 어떻게 해야 부담스럽지 않게 할 수 있지?"</strong><br>

        그래서 개발했습니다!!!!!<br>

        좋아하는 음식, 싫어하는 음식에 대해 호/불호 체크만 해주시면<br>
        친구와 같이 좋아하는 음식, 싫어하는 음식을 분류해드려요!!<br>
        (친구가 선택한 메뉴도 볼 수 있답니다 ㅎㅎ)<br>

        </div>
        <BR><bR>
        <div>

        <strong>[ 앞으로 TASTEYOM의 방향 ]</strong><br><br>

        지금은 점심/저녁 메뉴를 고르는 "음식"으로 시작해보았는데, <br>
        계속해서 자신의 취향과 관련된, 우리 삶에 있으면 편한 것들을 추가해보려고 해요!<br>


        이 글은 기능에 관한 개발 공부만 하고 만들어져서, 객관적으로 깔끔하지는 않아요.<br>
        그래서, REACT를 공부하면서 더 예쁘게 다듬어볼려고 해요!<br>
        </div>
        <br>
        <div>

        긴 글 읽어주셔서 감사합니다. 앞으로 계속 업데이트 해보겠습니다!<br>
        사용해주시는 <strong>{{num}}</strong>분들 너무너무 감사해요!! <br><br>

        {lastupdate: 2022-06-08}
        </div>

    </div>
{% endblock %}


{% block script %}

    <script>
            
    </script>
{% endblock %}    