<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <!-- 모바일 호환 -->
        <meta name="viewport" content="width=device-width, user-scalable=no"> 
        <!-- IE 문서 모드, IE=edge는 IE브라우저에서 가장 최신 선택하는 것 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <!-- 유저 정보 -->
        <div>
            <div class="user-name">유저 이름</div>
            
            <a id="login" href="/" class="btn">로그인</a>
            <a id="logout" href="/" class="btn">로그아웃</a>
            <a id="join" href="/join" class="btn">회원가입</a>
        </div>
        {% block content %}
        {% endblock %}
        {% block script %} 
        {% endblock %}
    </body>
</html>