<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=yes"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>         
        <a href="/" class="btn">TASTEYOM</a>
        {% if user and user.localId %}
            <div class="mypageSetting" id="setting">
                <div class="user-name">안녕하세요 <strong>{{user.nick}}({{user.localId}})</strong>님! <a id="logout" href="/auth/logout" >로그아웃</a></div> 
                <div class="input-grouping">
                    <form id="nick-form" action="/auth/modifyUser" method="post"> 
                        <input  class="input-text" id="nick" name="usernick" maxlength="8" placeholder="변경할 닉네임"></input> 
                        <button id="twit-btn" type="submit" class="btn">닉네임 변경</button> 
                    </form>
                    <input id="my-id" type="hidden" value="{{user.localId}}">
                    <input class="input-text" type="text" name="userFollow" id="followId" placeholder="팔로우 할 아이디"> 
                    <button class="btn" id="follow">팔로우</button>
                </div>    
                <a id="button-mypage" href="/mypage" class="btn">마이페이지</a> 
                <a id="button-follow" href="/mypage/follow" class="btn">팔로잉/팔로워 관리</a>
            </div>
        {% else %}
            <form id="login-form" action="/auth/login" method="post">
                <div class="input-group">
                    <label for="localId">아이디</label>
                    <input class="input-text" id="localId" type="text" name="localId" required autofocus>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input class="input-text" id="password" type="password" name="password"  required>
                </div>
                <button id="button-login" type="submit" class="btn">로그인</button>
                <a id="button-join" href="/auth/join" class="btn">회원가입</a>
            </form>
        {% endif %}
        {% block content %}
        {% endblock %}
        <footer>
            Copyright(c).&nbsp;
            <a href="https://github.com/delay-100" target="_blank" style="text-decoration-line: none;">delay100</a>
            <div class="footer-div">Contact. gitignore@kakao.com</div>
        </footer>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            window.onload = () =>{
                if (new URL(location.href).searchParams.get('loginError')){ 
                    alert(new URL(location.href).searchParams.get('loginError')); 
                }
            };
            
            document.querySelector('#follow').addEventListener('click', function(e) {
                    const myId = document.querySelector('#my-id'); 
            
                    if(myId){
                        const userId = document.querySelector('#followId').value;
                        if(userId !== myId.value){
                            if(confirm(userId + '님을 팔로우하시겠습니까?')){
                                axios.post(`../user/follow/${userId}`) 
                            .then(() =>{
                                location.reload();
                            })
                            .catch((err)=>{
                                console.error(err);
                            }); 
                            }
                        } else{
                            alert('본인은 팔로우 할 수 없습니다!');
                        }
                    }
        });

        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>