{% extends 'layout.html' %} 

{% block content %}


    <div class="mypage-main">
        <div class="pick-text" id="mypick"><div style="color:#242F9B; display:inline;">{{nick}}</div>님의 PICK!</div>
        <div class="form-myfoodSelect"> 
            <div class="food-form" id="koreanfood-form"> 
                <div class="food-info"> <div class ="food-info-text" id="koreanfood-info">한식</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 1 %}
                        <div class="food-name-raw">
                            {{loop.index}}  
                            {{foodSelect.name}}
                            {% if foodSelect.like == 1 %}
                                <div class="islike">
                                    호
                                </div>
                            {% else %}
                                <div class="isdislike">
                                    불호
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="chinesefood-form"> 
                <div class="food-info"><div  class ="food-info-text" id="chinesefood-info">중식</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 2 %}
                        <div class="food-name-raw">
                            {{loop.index}}  
                            {{foodSelect.name}}
                            {% if foodSelect.userlike == 1 %}
                                <div class="islike">
                                    호
                                </div>
                            {% else %}
                                <div class="isdislike">
                                    불호
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="japanesefood-form"> 
                <div class="food-info"> <div  class ="food-info-text" id="japanesefood-info">일식</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 3 %}
                        <div class="food-name-raw">
                            {{loop.index}}  
                            {{foodSelect.name}}
                            {% if foodSelect.like == 1 %}
                                <div class="islike">
                                    호
                                </div>
                            {% else %}
                                <div class="isdislike">
                                    불호
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="westernfood-form"> 
                <div class="food-info">  <div  class ="food-info-text" id="westernfood-info">양식</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 4 %}
                        <div class="food-name-raw">
                            {{loop.index}}  
                            {{foodSelect.name}}
                            {% if foodSelect.like == 1 %}
                                <div class="islike">
                                    호
                                </div>
                            {% else %}
                                <div class="isdislike">
                                    불호
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="food-form" id="likedislike-form">
                <div class="food-info"> <div  class ="food-info-text" id="likedislike-info">호불호</div>
                </div>
                {% for foodSelect in foodSelectlist %}
                    {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 5 %}
                        <div class="food-name-raw">
                            {{loop.index}}  
                            {{foodSelect.name}}
                            {% if foodSelect.like == 1 %}
                                <div class="islike">
                                    호
                                </div>
                            {% else %}
                                <div class="isdislike">
                                    불호
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}