{# 팔로잉, 팔로워 목록 보여줌 #}
{% extends 'layout.html' %}

{% block content %}

    <a id="follow" href="/mypage/follow" class="btn">팔로우/팔로잉</a>
    
    <div class="food-form"> 내가 선택한 음식들
        <div class="koreanfood-form"> [ 한식 ]
            <a id="form" href="/form/1" class="btn">선택하기</a>
            {% if user.id == foodSelectlist.user %}
            <div id="form-remove" onClick='removeSelect({{foodSelectlist.user}}, {{user.id}}, 1)' class="btn">삭제하기</div> 
            {% endif %}
            {% for foodSelect in foodSelectlist %}
                {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 1 %}
                    <div>
                        {{foodSelect.name}}
                        {% if foodSelect.dataValues.userSelected and foodSelect.dataValues.userSelected === user.id %}
                            {% if foodSelect.dataValues.like and foodSelect.dataValues.like === true %}
                                (호)
                            {% else %}
                                (불호)
                            {% endif %}
                        {% endif %}    
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="koreanfood-form"> [ 중식 ]
            <a id="form" href="/form/1" class="btn">선택하기</a>
            {% if user.id == foodSelectlist.user %}
            <div id="form-remove" onClick='removeSelect({{foodSelectlist.user}}, {{user.id}}, 1)' class="btn">삭제하기</div> 
            {% endif %}
            {% for foodSelect in foodSelectlist %}
                {% if foodSelect and foodSelect.id and foodSelect.categorynumber == 2 %}
                    <div>
                        {{foodSelect.name}}
                        {% if foodSelect.dataValues.userSelected and foodSelect.dataValues.userSelected === user.id %}
                            {% if foodSelect.dataValues.like and foodSelect.dataValues.like === true %}
                                (호)
                            {% else %}
                                (불호)
                            {% endif %}
                        {% endif %}    
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="follower-list">
        <h2>팔로잉 목록</h2>
        {% if user.Followings %} 
            {% for following in user.Followings %} 
                <div>{{following.nick}}</div>
            {% endfor %}
        {% endif %}
    </div>

    {# 사용자 이름 수정 #}
    {# <div>
        <form id="twit-form" action="/auth/modifyUser" method="post"> 
            <div class="input-group">
                <input id="twit" name="usernick" maxlength="15"></input> 
            </div>
            <button id="twit-btn" type="submit" class="btn">수정하기</button> 
        </form>
    </div> #}

{% endblock %}


{% block script %}
    <script>

       async function removeSelect(selectUserid, userid, category){
           await axios.post(`/form/remove`,{
               selectUserid,
               userid,
               category,
           }).then((res)=>{
               if(res.data.status==="true"){
                   location.reload();
               }
               else if(res.data.status==="not equal user"){
                   alert(selectUserid+"님이 작성한 글이 아닙니다!");
               }
           })
       }
         {# async function modifyUser(){
           await axios.post(`/auth/modifyUser`,{

           }).then((res)=>{
               if(res.data.status==="true"){
                   location.reload();
               }
           })
       } #}

    </script>
{% endblock %}    