@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --button-color: #ffffff;
  --button-bg-color: #393E46;
  --button-hover-bg-color: #393E46;
}


html {
    background-color: #FFD369;
    /* background-color: #fff;
    background-image: linear-gradient(-45deg, rgba(0,0,0,.5) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.5) 75%, transparent 75%, transparent 100%), linear-gradient(45deg, rgba(0,0,0,.5) 25%, transparent 25%, transparent 50%,  rgba(0,0,0,.5) 50%, rgba(0,0,0,.5) 75%, transparent 75%, transparent 100%);
    background-size: 52px 52px; */
    /* background: repeating-linear-gradient(135deg, white, white 5px, #FFD369 0, #FFD369 200px); */

}

/* head {
    background-color: #EEEEEE;
}

footer {
    background-color: #EEEEEE;    
} */

body {
    font-family: 'SEBANG_Gothic_Regular';
    /* font-size: small; */
}

footer {
    margin-top: 10%;
    text-align: center;
    color: #7F8487;
    clear:both;
}

.input-text {
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.mypageSetting, #login-form {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    /* overflow:hidden; */
    /* width: auto;
    height: auto; */
    /* display:inline-block; */
    float: right;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 3%;
    border: 2px dashed black;
}

.timeline {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    clear:both;
    margin: 4%;
    /* display: flex; */
    /* border: 2px dashed black;    */
}

#following-half-text {
    margin-bottom: 2%;
}

.num-count {
    font-size: x-large;
    margin-bottom: 10%;
}

.timeline-join {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    clear:both;
    margin: 4%;
    /* display: flex; */
    /* padding: 5%; */
    display: fit-content;
}

.follow-half {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    display: block;
    /* margin: 3%; */
    border: 2px dashed black;
    margin: auto;
}

.timeline-ment {
    text-align: center;
    font-size: x-large;
}

.follow-text {
    font-size: x-large;
    border-radius: 1em;
    margin-bottom: 2%;
    text-align: center;
    background-color: #FFAB76;
}

.following-member-setting {
    margin-bottom: 1%;
}


#join-btn {
    float: right;
}

.user-name {  
    float: right;
}

/* #setting {
    float: right;
    position: static;
    top: 100px; 
    right: 100px;
} */

#show {
    background-color: #FFAB76;
    color: black;
}

.btn {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}

#following-info {
    overflow: auto;
}

#following-percent-text-sum {
    background-color: #393E46;
    color: #EEEEEE;
    /* border-top: #FFFFFF; */
    /* border-bottom: #FFFFFF; */
}


.food-form {
    border: 1px solid black;
    /* margin: auto; */
    /* flex-grow: 1; */
    /* border-radius: 5px; */
    padding: 2%;
    border-collapse: collapse;
    min-width: 152px;
    /* background-color: #EEEEEE; */
    background-color: #ffffff;
    /* display: table-cell; */
    clear:both;

    width:fit-content; 
}

.food-form-div{
    border: 1px solid black;
    margin: auto;
    /* flex-grow: 1; */
    /* border-radius: 5px; */
    padding: 2%;
    border-collapse: collapse;
    min-width: 152px;
    /* background-color: #EEEEEE; */
    background-color: #ffffff;
    /* display: table-cell; */
    clear:both;

    width:fit-content;
}

.food-form-padding {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    clear:both;
    margin: 4%;
    /* display: flex; */
    /* border: 2px dashed black;    */
}

.analyze {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    padding-top: 4%;
    clear:both;
    margin: 4%;
    
    text-align: center; 
    width:fit-content;
    margin:auto;
    /* margin-top: 2%; */
}

.text-div-analyzeresult {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    clear:both;
    margin: 4%;
    
    text-align: center; 
    width:fit-content;
    margin:auto;
    /* margin-top: 2%; */
}

.error-message {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1.5%;
    clear:both;
    margin: 4%;
    
    text-align: center; 
    width:fit-content;
    margin:auto;
}

#submit-btn {
    margin-top: 5%;
}

.label-input {
    display:inline;
}

/* .form-label {
    display:none;
} */

.food-form-select-text {
    padding: 3%;
    margin-bottom: 3%;

    font-size: x-large;
    border-radius: 1em;
    margin-bottom: 5%;
    text-align: center;
    background-color: #FFAB76;
}

.islike {
    display: inline;
    float: right;
    padding-left: 1px;
    padding-right: 1px;
    /* border: solid; */
    
    /* border-style: dashed; */
    padding-left: 1px;
    padding-right: 1px;
    border-color: green;
    background-color: #C0EDA6;
}

.isdislike {
    display: inline;
    float: right;
    
    padding: 1px;
    /* border: solid; */

    /* border-style: dashed; */
    border-radius: 1px;
    border-color: red;
    background-color: #FFA8A8;
}



#form-remove {
    border: 1px solid black;
}

#analyze-comment {
    color: red;
}

.text-div {
    left: 50%;
    top: 50%;
    /* border: 1px solid black; */
    /* display:inline-block; */
    text-align: center;
    /* margin-top: 10%; */
    min-width: 207px;
    clear:both;
    margin-top: 3%;
    /* clear:both;
    float:left; */
}


.text-div-textlist {
    
    min-width: 207px;
    margin-bottom: 1%;
    /* text-align: center;
    clear:both;
    float:left; */
}

.text-div-text {
    display: inline-block;
    font-size: large;
    /* color: #242F9B; */
    /* text-align: center;
    clear:both;
    float:left; */
}

.form-myfoodSelect {
    display: flex;
    
    /* display: table; */
    table-layout: fixed;
    width: 100%; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    margin-bottom: 5%;
/*     
    margin-right: 10%;
    margin-left: 10%; */
}

.food-info {
    margin-bottom: 10%;
}

.food-info-text {
    font-size: x-large;
    border-radius: 1em;
    margin-bottom: 5%;
    text-align: center;
    background-color: #FFAB76;
}

/* .food-info-set {
    text-align: right;
} */



#info {
    float: right;
}

.mypage-main {
    margin-top: 2%;
    display: block;
}

.pick-text {
    text-align: center;
    padding: 2%;
    font-size: x-large;
    font-weight: bolder;
    /* min-width: 207px; */
    clear:both;
    margin-bottom: 1%;

}

.follower-list-div {
    text-align: center; 
    width:fit-content;
    margin:auto;
}


.food-name-raw {
    padding: 3px;
}

.follower-list {
    border-collapse: collapse;
    min-width: 200px;
    background-color : #ffffff; 
    /* border-radius: 5px; */
    /* border-style: hidden; */
    /* box-shadow: 0 0 0 1px #000; */
    margin-top: 2%; 
    margin-left: 10%;
    margin-right: 10%;
}

tr {
    display: table;
    table-layout: fixed;
    width: 100%; 
    /* display: flex; */
}

thead {
    font-size: large;
}
th {
    display: table-cell;
    /* font-size: large; */
    background-color: #EEEEEE;
    /* flex: 1; */
}

.following-category-head {
    font-size: large;
}
.follower-list th, .follower-list td {
      padding: 10px;
      border: 1px solid #393E46;
      table-layout: fixed;
}

@media (max-width: 605px) {

    .following-percent-text {
        background-color: #FFFFFF;
    }

    #following-info {
        background-color : #EEEEEE;
    }
    .follower-list {
        display: center;
    }
    
    .follower-list thead { 
        display: none;
    }

    .follower-list, .follower-list tbody, .follower-list tr, .follower-list th, .follower-list td {
        display: block;
    }

    .follower-list td {
        position: relative;
        padding-left: 50%; 
    }
    .follower-list td:before {
        position: absolute;
        top: 24%;
        right: 65%;
        font-weight: bold;
    }

    .following-percent-div {
        border-width: 1em;
    }

    .follower-list td:nth-of-type(1):before { content: "한식"; }
    .follower-list td:nth-of-type(2):before { content: "중식"; }
    .follower-list td:nth-of-type(3):before { content: "일식"; }
    .follower-list td:nth-of-type(4):before { content: "양식"; }
    .follower-list td:nth-of-type(5):before { content: "호불호"; }
    .follower-list td:nth-of-type(6):before { content: "전체"; }


}


#followings-row {
    text-align: left;
}

.main-text {
    text-align: center; 
    width:fit-content; 
    margin:auto;
    clear:both;
    padding: 3%;
    background-color: white;
    border-radius: 1em;
    /* background-image: url(memo.png); */
}

.followings-check {
    margin-top: 5%;
}

.main-text-innerdiv {
    margin-bottom: 5%;
}

.divTableRow {
    display: flex;
    width:fit-content; 
}